// Breakpoints

$table-width : 450px;
$mid-width : 620px;
$desktop-width : 768px;

$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$base-font-family: 'OpenSans', sans-serif;

$body-font-family: 'OpenSans', sans-serif;

$code-font-family: "Source Code Pro", monospace;

$container-width: 1100px;

$tablet-width: 600px;

$phone-width: 480px;

$header-thickness: 26px;

$brand-color: #20ca5a;