---
layout: page
title: Oxygen Supply Services
---
<div class="container">
  <h2 class="editable" style="text-align: center;">Oxygen Supply Services</h2>
  <p class="editable" style="text-align: justify;">With your support, we plan to expand services under the ‘Ocean Care Oxygen Centres’ to Delhi, Mumbai, Jaipur, Patna, Kota (Rishi's hometown) and Bangalore soon. We need each other to get through this together. Help us help one another. </p>
  <p class="editable" style="text-align: justify;">We are not limiting ourselves to planned cities and initiatives. Also constantly working on multiple initiatives with colleagues to extend all support across India.</p>
  <br />
  <ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Find a Plasma Donor</h3>
			<p class="editable">Find a donor from a list of verified plasma donors</p>
			<a class="btn btn-primary text-center" href={{ site.data.settings.plasma_donor_directory_link }} target="_blank">Find Now</a>
		</li>
		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Register as a Plasma Donor</h3>
			<p class="editable">Get enlisted as a donor with Ocean Care making it easy for any COVID patient/family to find the right person</p>
			<a class="btn btn-primary text-center" href={{ site.data.settings.plasma_donor_link }} target="_blank">Register</a>
		</li>
	</ul>
</div>