---
layout: page
title: Plasma Donor Services
---
<div class="container">
  <h2 class="editable" style="text-align: center;">Plasma Donor Services</h2>
  <p class="editable" style="text-align: justify;">Relying solely on contribution from its patrons and voluntary payments from its customers, the porter service has helped 100+ needy people since its inception in the first week of May. TOI featured the initiative in their e edition as well as their print issue</p>
  <p class="editable" style="text-align: justify;">With your support, we plan to expand services under the ‘Ocean Care’ umbrella to Delhi, Mumbai, Jaipur, Patna, Kota (Rishi's hometown) and Bangalore soon. We need each other to get through this together. Help us help one another. Rishi was a kind soul who only brought joy to the lives he touched. We owe it to him and the countless others to do our utmost at this time in our lives</p>
  <p class="editable" style="text-align: justify;">We are not limiting ourselves to planned cities and initiatives. Also constantly working on multiple initiatives with colleagues to extend all support across India.</p>
  <br />
  <ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Find a Plasma Donor</h3>
			<p class="editable">Find a donor from a list of verified plasma donors</p>
			<a class="btn btn-primary text-center" href={{ site.data.settings.plasma_donor_directory_link }} target="_blank">Find Now</a>
		</li>
		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Register as a Plasma Donor</h3>
			<p class="editable">Get enlisted as a donor with Ocean Care making it easy for any COVID patient/family to find the right person</p>
			<a class="btn btn-primary text-center" href={{ site.data.settings.plasma_donor_link }} target="_blank">Register</a>
		</li>
	</ul>
</div>